<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player Search Results</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/global.css') }}">
</head>
<body>

<div class="container mt-5">
    <h1>Player Search Results</h1>
    <hr>

    <!-- Player Search Results -->
    <div class="mt-4">
        <h2>Search Results</h2>
        <ul class="list-group">
            {% if player_stats %}
            {% for player in player_stats %}
            <li class="list-group-item">
                <strong>{{ player.first_name }} {{ player.last_name }}</strong>
                <br>
                Position: {{ player.position }}
                <br>
                Points: {{ player.points }}
                <br>
                {% if player.position == 'Quarterback' %}
                Passing Attempts: {{ player.passing_attempts }}
                <br>
                Passing Completions: {{ player.passing_completions }}
                <br>
                Passing Yards: {{ player.passing_yards }}
                <br>
                Passing TDs: {{ player.passing_touchdowns }}
                <br>
                Interceptions: {{ player.interceptions }}
                <br>
                {% elif player.position == 'Running Back' %}
                Rushing Attempts: {{ player.rushing_attempts }}
                <br>
                Rushing Yards: {{ player.rushing_yards }}
                <br>
                Rushing TDs: {{ player.rushing_touchdowns }}
                <br>
                {% elif player.position == 'Wide Receiver' %}
                Receptions: {{ player.receptions }}
                <br>
                Receiving Yards: {{ player.receiving_yards }}
                <br>
                Receiving TDs: {{ player.receiving_touchdowns }}
                <br>
                {% elif player.position == 'Tight End' %}
                Receptions: {{ player.receptions }}
                <br>
                Receiving Yards: {{ player.receiving_yards }}
                <br>
                Receiving TDs: {{ player.receiving_touchdowns }}
                <br>
                {% endif %}
                Week: {{ loop.index }}
                <br>
                Game: {{ player.home_team }} vs {{ player.away_team }}
            </li>
            {% endfor %}
            {% else %}
            <li class="list-group-item">
                No players found.
            </li>
            {% endif %}
        </ul>
    </div>

</div>

</body>
</html>
