body {
    background-color: #f8f9fa;
    color: #343a40;
    font-family: 'Raleway-Black';
}
@font-face {
    font-family: 'Raleway-Black';
    src: url('../fonts/Raleway-Light.ttf');
}
@font-face {
    font-family: 'Raleway-Bold';
    src: url('../fonts/Raleway-Black.ttf');
}
@font-face {
    font-family: 'Raleway-Regular';
    src: url('../fonts/Raleway-SemiBold.ttf');
}
h1, h2 {
    font-family: 'Raleway-Bold';
}
strong {
    font-family: 'Raleway-Regular.ttf';
}